html {
    font-family: sans-serif;
    background: LightGray;
    padding: 1rem;
}

body {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    color: rgb(51, 153, 255);
    font-family: cursive;
    margin: 1rem 0;
    text-align: center;
    font-size: 50px

}

li {
    color: rgb(51, 153, 255);
    display: list-item;
    text-align: -webkit-match-parent;
}

label {
    color: rgb(51, 153, 255);
    font-family: cursive;
    cursor: default;
}

button{
    color: rgb(51, 153, 255);
    font-family: cursive
}

h2,p {
    color: rgb(204, 0, 0);
    font-family: cursive;
    margin: 1rem 0;
    text-align: left;

}

i {
    color: rgb(102, 0, 204);
    font-family: "Gill Sans", sans-serif;
    margin: 1rem 0;
    font-style: oblique;

}

a {
    color: CornflowerBlue;
    text-decoration: none;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: LightGray;
    padding: 0 0.5rem;
    border-radius: 25px;
}

nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 0.5rem;
}

.content {
    padding: 0 1rem 1rem;
    background: white;
    border-radius: 25px;
}

.flash {
    text-align: center;
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}
